{% load static %}
{% load my_custom_tags %}
<!DOCTYPE html>
<html>
<head>    
  <title> {{title}} </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">        
</head>
<body>

<div class="wrapper">
    <div class="page">
        <div class="header">
            {% include 'includes/header.html' %}
        </div>

<br>
<br>
{% block tags_menu %}
    <div class="tags_menu"></div>
{% endblock %}
            <div class="content">  
            {% block content %}
            {% endblock %}
            </div>
            
            
            
        </div>
            <div class="footer">
                <p>© 2024 Copyright <span style="color:rgb(255, 255, 255)">Missis Vanilka</span></p>
            </div>
    </div>