{% extends 'base.html' %}

{% block content %}
<div class="title_for_example">
    {{ objects.title }}
</div>

<div class="example_desserts">

        {% for obj in objects.decorations.all %}
        <div class="example_dessert_card">
            <div class="card_img">
                    <img src="{{ obj.image.url }}" alt="Фото торта">
            </div>
        </div>


        <div class="pop-up">
            <span>&times;</span>
            <img src="{{obj.image.url}}" alt="Фото торта">
        </div>
        {% include 'includes/open_image.html' %}
        {% endfor %}


    </div>


{% endblock %}