{% extends 'base.html' %}

{% block content %}

<div class="filling_details">
    
    <div class="filling_detail_img">
      <img src="{{ objects.image.url }}" alt="Фото начинки">
    </div>
    
    <div>   
        <span class="filling_title">{{ objects.title }} </span>
        <p class="filling_description">{{ objects.description }}</p>
    </div>      
        {% if request.user.is_authenticated %}
        <div class="detail_update_delete">
            <a class="detail_update_delete_btn" href="#">Редактировать</a> 
            <a class="detail_update_delete_btn" href="#">Удалить</a>
        </div>
        {% endif %}
</div>

{% endblock %}