{% extends 'base.html' %}

{% block content %}

<div class="index_desserts">
    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/cake.jpg">
            </a>
        </div>

        <div class="index_title">
            <a class="index_title_btn" href="#">Торты, оформленные фруктами и свежей ягодой</a>
        </div>
    </div>

    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/honey_cake.jpg">
            </a>
        </div>
        
        <div class="index_title">
            <a class="index_title_btn" href="#">Открытые медовые торты, торты-цифры</a>
        </div>
    </div>

    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/child_cake.jpg">
            </a>
        </div>
        
        <div class="index_title">
            <a class="index_title_btn" href="#">Детские торты</a>
        </div>
    </div>

    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/cupcake.jpg">
            </a>
        </div>
        
        <div class="index_title">
            <a class="index_title_btn" href="#">Капкейки</a>
        </div>
    </div>

    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/desserts.jpg">
            </a>
        </div>
        
        <div class="index_title">
            <a class="index_title_btn" href="#">Десерты</a>
        </div>
    </div>

    <div class="dessert_card">
        <div class="dessert_card__image_wrapper">
            <a class="index_title_btn" href="#">
                <img class="index_image" src="/static/img/gingerbread.jpg">
            </a>
        </div>

        <div class="index_title">
            <a class="index_title_btn" href="#">Пряники медово-имбирные</a>
        </div>
    </div>
</div>
{% endblock %}