{% extends 'base.html' %}
{% block content %}

<div class="index_desserts">

{% for dec in object_list %}

    <div class="dessert_card">
        <div class="dessert_card__image-wrapper">
            <a class="index_title_btn" href="{% url 'desserts:example' dec.id %}">
                <img class="index_image" src="{{dec.image.url}}">
            </a>
        </div>

        <div class="index_title">
            <a class="index_title_btn" href="{% url 'desserts:example' dec.id %}">{{ dec.title }}</a>
        </div>
    </div>
        
    
    {% endfor %}
</div>
{% endblock %}