*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background:  #ffffff;
}

img {
    width: 100%;
    border-radius: 20px;
}

.wrapper {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.header {
    margin-top: 15px;
    max-width: 1124px;
    height: 120px;
    background: #ffffff url("../img/header.png") no-repeat left;
    border-radius: 20px 20px 20px 20px;
}

.header_text {
    text-align: center;
    padding-top: 4px;
    padding-left: 20px;
    width: 1124px;
    font-family: Comic Sans MS, Tahoma, Arial;
    font-size: 70px;
    color: rgb(226, 96, 146);
    text-shadow: 2px 2px 2px #be0160;
}

ul.mainmenu li {
    display: inline;
    justify-content: space-between;
    margin-right: 30px;
    padding: 3px;
}
.mainmenu {
    margin: 15px 0px 15px 0px;
    background: #ffaed4;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    color: rgba(95, 48, 5, 0.7);
    text-decoration: none;
    font-size: 17px;
    font-family: Comic Sans MS, Geneva, Arial, Helvetica, sans-serif;
    padding-left: 50px;
    text-align-last: left;
}

.mainmenu a {
    text-decoration: none;
}

ul.mainmenu li.last {float: right; padding: 0 40px 0 0;}

.footer {
    height: 35px;
    margin-top: -35px;
    box-sizing: border-box;

    background: #ffaed4;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    color: rgb(34, 18, 3, 0.70);
    font-size: 17px;
    font-family: Comic Sans MS, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}

.title_details {
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 38px;
    font-family: Comic Sans MS, Tahoma, Arial;
    color: rgb(226, 96, 146);
    text-shadow: 2px 2px 2px #be0160;
}

/* .wrapper_create_wish {
    background-color: #f0f1ca;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
} */

/* .create_wish {
    margin-top: 10px;
    font-family: Comic Sans MS, Tahoma, Arial;
    
} */

/* .wrapper_details {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 15px;
    padding-top: 10px;
}

.wrapper_details .dessert_card__image-wrapper {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.wrapper_details .dessert_card__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gift_description {
    margin-left: 15px;
    font-size: 16px;
    font-family: Comic Sans MS, Tahoma, Arial;
} */


/* Index */

.index_desserts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dessert_card {
    margin: 15px;
    background-color: #f7cfe9;
    width: 230px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #ffaed4;
}

.dessert_card .dessert_card__image-wrapper {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}
.dessert_card .dessert_card__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index_title {
    text-align: center;
}

.index_title_btn {
    background-color: #f7cfe9;
    padding: 3px 3px;
    text-decoration: None;
    font-size: 18px;
    font-family: Comic Sans MS, Tahoma, Arial;
    color: #70511b;
    border-radius: 5px;
}

.index_title_btn:hover {
    background-color: #f7cfe9;
}

/* Filling */

.filling_example {
    display: grid;
    grid-gap: 15px;
    padding-top: 10px;
    width: -250px;
    grid-template-columns: repeat(4, 1fr);
}

.sidenav {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 200px;
    left: 30px;
}

.sidenav_list {
    margin: 2px;
    font-size: 15px;
    font-family: Comic Sans MS, Tahoma, Arial;
}

.sidenav_list li {
    list-style-type: none;
    line-height: 2;
}

.dessert_filling_card {
    margin: 5px;
    background-color: #fffafd;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #ffaed4;
}

.dessert_filling_card .dessert_filling__image-wrapper {
    width: 200px;
    height: 200px;
}
.dessert_filling_card .dessert_filling__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_filling {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Comic Sans MS, Tahoma, Arial;
    color: rgb(112, 32, 63);
    text-shadow: 2px 2px 2px #f5c7df;
}

.filling_description {
    margin-left: 15px;
    font-size: 15px;
    font-family: Comic Sans MS, Tahoma, Arial;
}

/* Examples */

.example_desserts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title_for_example {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 28px;
    font-family: Comic Sans MS, Tahoma, Arial;
    color: rgb(250, 175, 204);
    text-shadow: 2px 2px 2px #8f2551;
}

.example_dessert_card {
    margin: 5px;
    background-color: #fffafd;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #ffaed4;
}

.example_dessert_card .card_img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.example_dessert_card .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* transition: .5s; */
}

/* .example_dessert_card .dessert_card__image-wrapper:hover img {
    transform: scale(1.03);
} */

/* Увеличение картикок */

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(226, 216, 216, 0.5);
    display: none;
}

.pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px, solid #fffafd;
    border-radius: 20px;
    width: 400px;
}

.pop-up span {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Reviews */

.review {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.review_card {
    margin: 5px;
    background-color: #fffafd;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #ffaed4;
}

.card_img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Contact */

.contact_grid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 15px;
    padding-top: 10px;
}

.contact {
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.contact_text {
    font-size: 16px;
    font-family: Comic Sans MS, Tahoma, Arial;
}

.contact img {
    opacity: 50%;
    width: 100%;
    height: 100%;
}

/* Пагинация */

.list-pages {
    text-align: center;
	margin: 0 0 20px 0;
}

.list-pages ul {
    margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.list-pages ul li {
    display: inline-block;
	margin: 0 20px 0 0;
}

.list-pages a {
    text-decoration: None;
}

.list-pages .page-num, .page-num-selected {
    display: inline-block;
	width: 60px;
	height: 44px;
	border: 1px solid #f5e980;
	border-radius: 10px;
    color: #70511b;
    font-size: 27px;
    font-family: Comic Sans MS, Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #f4f5b3; 
}

.list-pages .page-num-selected {
	border: none;
	color: #70511b;
	font-size: 27px;
}

.list-pages .page-num-selected:hover {
	box-shadow: none; 
}
